/* Wiggling bug animation for bug reporter button */
@keyframes wiggle {
    0%, 100% { transform: rotate(-3deg); }
    50% { transform: rotate(3deg); }
}

.bug-icon {
    animation: wiggle 0.5s ease-in-out infinite;
    display: inline-block;
}
